/* -------------------------------------------------------------- 
  
   reset.css
   * Resets default browser CSS.
   
-------------------------------------------------------------- */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body { 
  line-height: 1.5; 
}

caption, th, td { 
	text-align: left; 
	font-weight: normal; 
}
table, td, th { 
	vertical-align: middle; 
}

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { 
	content: ""; 
}
blockquote, q { 
	quotes: "" ""; 
}

/* Remove annoying border on linked images. */
a img { 
	border: none;
}

article {
	display: inline;
}



.itemTemplateWrapper {
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.25);
  color: #4c5989;
  font-family: helvetica, sans-serif;
  list-style-type: none;
  margin: 50px auto 0;
  padding: 20px;
  width: 300px;
}

.itemTemplateWrapper:last-child {
  margin-bottom: 50px;
}

.itemTemplateWrapper img {
  height: auto;
  width: 100%;
}

.itemTemplateWrapper p {
  text-align: center;
}

.itemTemplateWrapper p {
  font-size: 18px;
}

.itemTemplateWrapper p strong {
  font-size: 24px;
}

.itemTemplateWrapper p.txt {
  font-size: 12px;
  margin-top: 30px;
}